{{ define "main" }}

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}

<article class="post-article">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <span class="post-meta-separator">•</span>
      <span>{{.ReadingTime}} min read</span>
      {{ if .Params.categories }}
      <span class="post-meta-separator">•</span>
      {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
      {{ end }}
      {{ if .Params.tags }}
      <span class="post-meta-separator">•</span>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      {{ end }}
    </div>
    <!--{{ if .Summary }}
    <p class="post-summary">{{.Summary}}</p>
    {{ end }}-->
  </header>

  
  
  <div class="post-intro">
    {{ if .Params.main_image }}
    <div class="post-image">
      <img src="{{ .Params.main_image | relURL}}" alt="{{ .Title }}">
    </div>
    {{ end }}
    <div class="post-intro-text">
      {{ if .Params.intro_title }}
      <p class="post-intro-title">{{.Params.intro_title}}</p>
      {{ end }}
      {{ if .Params.intro_summary}}
      <p class="post-intro-summary">{{.Params.intro_summary | markdownify}}</p>
      {{ end }}
    </div>
  </div>

  <div class="post-intro">
    <div class="post-intro-text">
      {{ if .Params.sub_intro_title }}
      <p class="post-intro-title">{{.Params.sub_intro_title}}</p>
      {{ end }}
      {{ if .Params.sub_intro_summary}}
      <p class="post-intro-summary">{{.Params.sub_intro_summary | markdownify}}</p>
      {{ end }}
    </div>
    
    {{ if .Params.sub_image }}
    <div class="post-image">
      <img src="{{ .Params.sub_image | relURL}}" alt="{{ .Title }}">
    </div>
    {{ end }}
  </div>

  <div class="post-content">
    {{ .Content }}
  </div>

  
  <div class="post-demo">
    {{ if .Params.main_demo_title }}
      <h4 class="post-demo-title">{{.Params.main_demo_title | markdownify}}</h4>
    {{ end }}
    {{ if .Params.main_demo }}
    <video controls src="{{ .Params.main_demo | relURL}}">
    </video>
    {{ end }}

    {{ if .Params.sub_demo_title }}
      <h4 class="post-demo-title">{{.Params.sub_demo_title | markdownify}}</h4>
    {{ end }}
    {{ if .Params.sub_demo }}
    <video controls src="{{ .Params.sub_demo | relURL}}">
    </video>
    {{ end }}
  </div>

  
  {{ partial "giscus.html" . }}
</article>

{{ end }}
